*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
/* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
background-color: #4e54c8;  */
background-color: #f5f8ff;
width: 100%;
min-height: 100vh; 
margin: 0;
padding: 0;
overflow-x: hidden;
overflow-y: hidden;
background-attachment: fixed; 
background-size: cover; 
}



.circles li{
background: rgb(155, 223, 246);
background: linear-gradient(
  to right bottom,
  #f1f7ff,
  #bfd9fc
);
position: absolute;
border-radius: 50%;
}

.circles li:nth-child(1){
  top: 0%;
  left: 0%;
  height: 40rem;
  width: 40rem;
  transform: translate(-50%, -50%);
}

.circles li:nth-child(2){
  top: 70%;
  left: 80%;
  height: 40rem;
  width: 40rem;
  transform: translate(-50%, -50%);
}

.circles li:nth-child(3) {
  top: 10%;
  left: 65%;
  height: 10rem;
  width: 10rem;
  transform: translate(-50%, -50%);
}

.circles li:nth-child(4){
  top: 70%;
  left: 35%;
  height: 20rem;
  width: 20rem;
  transform: translate(-50%, -50%);
}


.circles li:nth-child(5) {
  top: 70%;
  left: 10%;
  height: 5rem;
  width: 5rem;
  transform: translate(-50%, -50%);
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.formContainer{
    max-width: 500px;
    margin: auto;
  
    background-color: #f5f8ff;
    /* background-color: #f9f9f9; */
    /* background-color: #333438;   */
    /* background-color: #C2C4F2;   */
  z-index: 10; 
  position: relative;
  color: white;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    color: #fff!important;
  }


.customStepProfile,.customStepRegister,.customStepProfileIcon,.customStepRegisterIcon{
  color: #5865f2;
}
.customBtn{
  color:#C2C4F2!important;
  background-color: #5865f2!important;
  outline: none!important;
  border: 2px  solid #5865f2!important;
  transition: all .2s ease;
}



.customBtn:hover{
  color:#5865f2!important;
  background-color: #C2C4F2!important;
}
.customBio{
  width: 330px;
}
.customAlign{
  width: 200px;
}
.customInput {

  width: 300px;
  /* border: 1px solid #a5a5a5; */

}

.customInput .ant-input:focus {
  border-color: #555;
  box-shadow: none;
}






 .error{

  --react-international-phone-border-color:red;
 }

 .def {
  --react-international-phone-border-color: #C2C4F2;
 }


.mainRow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

  
@media screen and (max-width: 750px) {
  .formContainer {
    width: unset;
  }
  body{
   overflow-y: auto;
   overflow-x: hidden;
  }
  .customInput{
    width: 260px;
  }
  .customBio,.customAlign{
    width: 260px;
  }

}

